.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    background-color: lightslategray;
}

hr {
    margin: 0px;
}

.logo-icon {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    background-image: url();
    background-size: contain;
}

.nav-container>button {
    height: 25px;
}

.section-container {
    padding-top: 48px;
    padding-bottom: 24px;
}
.slider-container {
    height: 450px;
    width: calc(50% - 30px);/*50% width minus margin*/
    background-color: antiquewhite;
    margin-right: 50px;
    margin-left: 30px;
    overflow: hidden;
    position: relative;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.judul-container {  
    background-color: rgb(212, 208, 203);
}

.kata-pembuka-container {
    background-color: rgb(204, 224, 224);
}

.section-container>header {
    text-align: center;
}

.section-content-container {
    display: flex;
    justify-content: space-between;
}

.antiquewhite-container {
    height: 450px;
    width: 800px;
    background-color: antiquewhite;
    margin-right: 0px; /* Kurangi margin agar dekat dengan elemen berikutnya */
}

.rgb-container {
    height: 450px;
    background-color: rgb(223, 185, 161);
    margin-left: 15px; /* Kurangi margin agar dekat dengan elemen sebelumnya */
    text-align: center;
    padding: 20px;
    float: left;
}

.form-container {
    width: 200px
    height: 370px;
    background-color: rgb(170, 170, 170);
    margin-right: 50px;
    text-align: center;
    padding: 50px;
    padding-right: 40px;
    float: right;
    display: inline;
    flex-direction: column;
    justify-content: center;
}

.form-container label, .form-container input, .form-container select, .form-container button {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }
}


.button-input {
    padding: 5px 10px;
    background-color: #6b6b6b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.button-input:hover {
    background-color: darkgrey; 
    justify-content: center;
    align-items: center;
}

.body-container {
    margin: 20px; /* Memberikan jarak antara elemen dengan body */
}

.Testimoni {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cta-section {
    height: 230px;
    width: 100%;
    background-color: rgb(228, 226, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.footer-content {
    width: 30%;
    text-align: center;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;
}